<div class="jumbotron">
  <div class="row">

          <h3> Estabeleciomentos</h3>

    <div class="col-sm-12">
      
      <div class="col-sm-3">
        <input class="form-control" type="text" [(ngModel)]= especiabilidade placeholder="busca area">
      </div>
      <div class="col-sm-1">
        <button align="center" class="btn btn-primary" (click)='buscarEstabelecimentos()'> Pesquisar </button>
      </div>
    </div>

    <div class="col-sm-12">
      <br/>
      <div class="col-sm-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Municipio</th>
              <th>UF</th>
              <th>Nome</th>
              <th>CNPJ</th>
              <th>Vinculo Sus</th>
            </tr>
          </thead>
          <tbody *ngFor="let e of empresas">
            <tr>
              <td>{{e.cidade}}</td>
              <td>{{e.uf}}</td>
              <td>{{e.nomeFantasia}}</td>
              <td>{{e.cnpj}}</td>
              <td>{{e.vinculoSus}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>